/* List */

	ul.icons li a {
		-ms-behavior: url("assets/js/PIE.htc");
	}

		ul.icons li a:before {
			text-align: center;
			font-size: 26px;
		}

/* Main */

	#main {
		-ms-behavior: url("assets/js/PIE.htc");
	}

		#main .avatar img {
			-ms-behavior: url("assets/js/PIE.htc");
		}

/* Footer */

	#footer {
		color: #fff;
	}

		#footer .copyright li {
			border-left: solid 1px #fff;
		}